<table>
    <tr valign="top">
        <td>
            <a href="{{ url_for('employee', uuid = employee.uuid) }}">{{ employee.first_name+" "+employee.last_name }}</a><br>
            position: {{ employee.position }} <br>
            salary: {{ employee.salary }} <br>
            birthday: {{ employee.birthday }} <br>
            email: {{ employee.email }} <br>
            department: <a
                href="{{ url_for('department', uuid = employee.department.uuid) }}">{{ employee.department.name }}</a><br>
            {% if current_user.uuid != employee.uuid and current_user.is_admin==True %}
                <a href="{{ url_for('admin_edit_employee', uuid=employee.uuid) }}">Edit employee profile</a>
                <a href="{{ url_for('delete_employee', uuid=employee.uuid) }}">Delete employee profile</a>
            {% endif %}
        </td>
    </tr>
</table>
<hr/>