{% extends "base.html" %}
{% block content %}
    <h1>Edit profile of {{ fullname }}</h1>
    <form action="" class="form_view" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.department.label }}<br>
            {{ form.department() }}
            {% for error in form.department.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.position.label }}<br>
            {{ form.position(size=32) }}
            {% for error in form.position.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.salary.label }}<br>
            {{ form.salary(size=32) }}
            {% for error in form.salary.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.is_admin() }} {{ form.is_admin.label }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}