<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epam Project - {{ title }}</title>
</head>
<body>
<div>
    Company:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for( 'department' ) }}">Departments</a>
    <a href="{{ url_for("employee") }}">Employees</a>
    {% if current_user.is_admin %}
        <a href="{{ url_for("register") }}">New Employee</a>
    {% endif %}
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for("login") }}">Login</a>
    {% else %}
        <a href="{{ url_for('edit_employee') }}">Edit my profile</a>
        <a href="{{ url_for("logout") }}">Logout</a>
    {% endif %}

</div>
{% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.first_name }}</h2>
{% endif %}
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}

</body>
</html>