{% extends "base.html" %}
{% block content %}
    {% if employees|length > 1 %}
        <h2>Employees List</h2>
        <form action="" class="form_view" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=19) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.from_birthday.label }}<br>
                {{ form.from_birthday(size=19) }}
                {% for error in form.from_birthday.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.to_birthday.label }}<br>
                {{ form.to_birthday(size=19) }}
                {% for error in form.to_birthday.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.department() }}
                {% for error in form.department.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <div class="employees_list">
            {% for employee in employees %}
                {% include "_employee.html" %}
            {% endfor %}
        </div>
    {% else %}
        <h2>Employee Profile</h2>
        <div class="employees_list">
            {% for employee in employees %}
                {% include "_employee.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}