{% extends "base.html" %}
{% block content %}
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 250px; float: left;">
            {% if employees|length > 0 %}
                <h2>Employees List</h2>
            {% else %}
                <h2>No matches with employees</h2>
            {% endif %}
        </div>
        <div style="margin-left: 250px;">
            <form action="" class="form_view" method="post">
                {{ form.hidden_tag() }}

                {{ form.name.label }}
                {{ form.name(size=6) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {{ form.from_birthday.label }}
                {{ form.from_birthday(size=6) }}
                {% for error in form.from_birthday.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {{ form.to_birthday.label }}
                {{ form.to_birthday(size=6) }}
                {% for error in form.to_birthday.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {{ form.department.label }}
                {{ form.department() }}
                {% for error in form.department.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {{ form.submit() }}
            </form>
        </div>
    </div>

    <div class="employees_list">
        {% for employee in employees %}
            {% include "_employee.html" %}
        {% endfor %}
    </div>
{% endblock %}