{% extends "base.html" %}
{% block content %}
    <form action="" class="form_view" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=19) }}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.from_birthday.label }}<br>
            {{ form.from_birthday(size=19) }}
            {% for error in form.from_birthday.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.to_birthday.label }}<br>
            {{ form.to_birthday(size=19) }}
            {% for error in form.to_birthday.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.department.label }}<br>
            {{ form.department() }}
            {% for error in form.department.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if employees|length > 0 %}
        <h2>Employees List</h2>
        <div class="employees_list">
            {% for employee in employees %}
                {% include "_employee.html" %}
            {% endfor %}
        </div>
    {% else %}
        <h2>No matches with employees</h2>
    {% endif %}
{% endblock %}